// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #4b7bec
$secondary = #45aaf2
$accent    = #8854d0

$positive  = #26de81
$negative  = #eb3b5a
$info      = #2bcbba
$warning   = #fed330